{% extends "base.html" %}
{% block title %} Nosotros {% endblock title %}
{% block body %}


  <!-- ***** Main Banner Area Start ***** -->
  <div class="page-heading about-page-heading" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <h2>Nosotros</h2>
            <span>Bienvenido a Patitas Felices

              En Patitas Felices, nos apasiona el bienestar y la felicidad de las mascotas. Somos una empresa dedicada al cuidado integral de tus compañeros de cuatro patas, comprometidos en brindarles un entorno seguro, amoroso y profesional donde puedan crecer y disfrutar al máximo.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  
  <!-- ***** About Area Starts ***** -->
  <div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="static/assets/images/about-left-image.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-content">
            <h4>Nuestra Filosofía</h4>
            <span>Creemos que cada mascota es un miembro invaluable de la familia y merece atención personalizada. Nuestro equipo, formado por profesionales y amantes de los animales, se esfuerza por ofrecer servicios de alta calidad que promuevan la salud física y emocional de cada peludo.</span>
            <div class="quote">
              <i class="fa fa-quote-left"></i>
              <p>**Patitas Felices: Cada patita, una sonrisa.**</p>
            </div>
            <h4>Qué Ofrecemos</h4>
            <p> Cuidado Integral: Servicios que abarcan desde paseos diarios y alimentación balanceada, hasta programas de socialización y atención personalizada.</p>
            <p>Ambiente Seguro: Instalaciones y protocolos pensados para garantizar la seguridad y comodidad de cada mascota.</p>
            <p>Atención Personalizada: Adaptamos nuestros servicios a las necesidades específicas de cada cliente y de su mascota, asegurando un trato único y especial.</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** About Area Ends ***** -->
  
  <!-- ***** Our Team Area Starts ***** -->
  <section class="our-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2> Nuestro increíble equipo </h2>
            <span>Los detalles a detalle son lo que hace que Patitas Felices sea diferente de los otros.</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-item">
            <div class="thumb">
              <div class="hover-effect">
                <div class="inner-content">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
              </div>
              <img src="static/images/team-1.jpg">
            </div>
            <div class="down-content">
              <h4>Maria Paula Lara</h4>
              <span>Directora Empresarial</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-item">
            <div class="thumb">
              <div class="hover-effect">
                <div class="inner-content">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
              </div>
              <img src="static/images/team-2.jpg">
            </div>
            <div class="down-content">
              <h4>Robert Smith</h4>
              <span>Marketing</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-item">
            <div class="thumb">
              <div class="hover-effect">
                <div class="inner-content">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                </div>
              </div>
              <img src="static/images/team-3.jpg">
            </div>
            <div class="down-content">
              <h4>Jennifer West</h4>
              <span>Gerente</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Our Team Area Ends ***** -->


{% endblock body %}
